<nz-header>
  <div class="header-title">Industrial Telemetry</div>
  <div class="header-right">
    @if (userName) {
      <a routerLink="/profile">
        <nz-avatar
          [nzText]="userInitial"
          nz-tooltip
          [nzTooltipTitle]="userName"
          nzTooltipPlacement="bottom"
        />
      </a>
    }
  </div>
</nz-header>

<div class="tiles-container">
  @for (tile of tiles; track tile) {
    <div class="tile">
      <span class="tile-number">{{ tile }}</span>
    </div>
  }
</div>
